section {
  margin: 30px auto;
  font-family: sans-serif;
  border-top: 1px solid #ccc;
  padding-top: 30px;
  width: 60%;
}

.id-keyword {
  display: flex;
  flex-direction: row;
  height: 40px;
}
.id-keyword > input {
  flex-basis: 70%;
  color: black;
  font-size: medium;
  border: 1px solid #ccc;
  padding: 5px;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.id-keyword > button {
  background: #3889a4;
  border: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  cursor: pointer;
}

h4 {
  font-weight: normal;
}

ul {
  font-family: sans-serif;
}
