table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-family: sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  padding: 5px;
}

slot-report-details {
  display: table-row-group;
}

.filtered th:nth-child(6) {
  background: rgb(197, 232, 174);
}

h1 {
  font-family: sans-serif;
  text-align: center;
  color: #ccc;
  letter-spacing: -1px;
  font-size: 22px;
  text-transform: uppercase;
}

h1 a {
  color: #ccc;
  text-decoration: none;
}

h1 a:hover, h1 a:active, h1 a:focus {
  text-decoration: underline;
}

h2 {
  font-family: sans-serif;
  text-align: center;
  color: #ccc;
  letter-spacing: -1px;
  font-size: 18px;
  margin-top: -10px;
  text-transform: uppercase;
}

h2.warning {
  color: #ff1414;
}
