td {
  font-family: sans-serif;
  font-size: 13px;
  padding: 6px 3px;
  color: rgba(0, 0, 0, 0.5);
}

td:nth-child(1),
td:nth-child(2),
td:nth-child(3) {
  text-align: center;
}

td:nth-child(4) {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}

td.filtered:nth-child(6) {
  background: rgb(197, 232, 174);
}
