<form (ngSubmit)="onSubmit()" #searchForm="ngForm">
  Find episodes for:
  <select [(ngModel)]="query.url" required>
    <option></option>
    <option value="http://f.prxu.org/thememorypalace/feed-rss.xml">the memory palace</option>
    <option value="http://f.prxu.org/serial/feed-rss.xml">Serial</option>
    <option value="http://f.prxu.org/criminal/feed-rss.xml">Criminal</option>
    <option value="http://f.prxu.org/strangers/feed-rss.xml">Strangers</option>
  </select>
  <button type="submit" [disabled]="!searchForm.form.valid">Submit</button>
</form>

<ul>
  <li *ngFor="#episode of episodes | async">
    <span (click)="onSelect(episode)">{{episode.title}}</span>
    (<span (click)="onAdvanced(episode)">Adv.</span>)
  </li>
</ul>
