campaign-name,
flight-name,
creative-name,
ad-name,
td {
  font-family: sans-serif;
  display: table-cell;
  padding: 4px;
  font-size: 13px;
}

campaign-name,
ad-name {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.is-filter {
  background: rgb(96, 125, 77);
  color: white;
}

td:nth-child(6) {
  background: rgb(197, 232, 174);
}
