table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-family: sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  padding: 5px;
}

slot-report-details {
  display: table-row-group;
}

.filtered th:nth-child(6) {
  background: rgb(197, 232, 174);
}

h1 {
  font-family: sans-serif;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 0;
  color: #ccc;
  letter-spacing: -1px;
}

h2 {
  font-family: sans-serif;
  text-align: center;
  color: #ccc;
  letter-spacing: -1px;
  font-size: 18px;
  margin-top: 10px;
  text-transform: uppercase;
}
