#run {
  position: absolute;
  top: 11px;
  left: 275px;
}

#edit {
  position: absolute;
  top: 11px;
  left: 425px;
}

dl {
  font-family: sans-serif;
  padding: 5px 12px;
}

dl dt {
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
}

dl dd {
  font-size: 12px
}

button {
  margin: 2px 0 2px 10px;
}
