slot-info,
ad-report-details,
null-ad-report-details {
  display: table-row;
}

null-ad-report-details {
  background: rgb(245, 233, 233);
}

slot-info td {
  text-align: center;
  text-transform: uppercase;
  background: #ddd;
  font-weight: bold;
  font-family: sans-serif;
  padding: 5px 0;
  font-size: 14px;
}
