html(lang='en')
  head
    title Backsaw
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(href='/')
    link(rel='icon' href='/images/favicon.png')
    link(href='https://62y4dsxai6.execute-api.us-east-1.amazonaws.com' rel='preconnect' crossorigin)

    style.
      body {margin: 0; border: 0; padding: 0;}

    if locals.dist
      script(src='/scripts/backsaw.min.js')
      script.
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-164824-55', 'auto');
        ga('send', 'pageview');
      script(async src='https://www.google-analytics.com/analytics.js')
    else
      script(src='/jspm_packages/system.js')
      script(src='/config/systemjs.config.js')
      script.
        System.import('src/main').then(null, console.error.bind(console));

  body
    backsaw-app
