fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

legend {
  display: none;
}

label {
  display: none;
}

select {
  display: block;
  margin: 12px;
  width: 250px;
  font-size: 14px;
  border: none;
  background: #555;
  color: white;
  outline: none;
}

#old-finder {
  display: none;
}

#finder-input {
  margin: 10px 0 0 10px;
  font-size: 13px;
  padding: 4px;
  width: 250px;
}
