<div class="wrap" *ngIf="adzerkRequest">
  <div class="left">
    <pre>{{ adzerkRequest.placements[0].properties | json }}</pre>
    <form (ngSubmit)="onSubmit()" #advancedForm="ngForm">
      <fieldset *ngIf="adzerkRequest.placements[0].properties.guid">
        <label>guid</label>
        <input [(ngModel)]="propOverrides.guid">
      </fieldset>
      <fieldset *ngIf="adzerkRequest.placements[0].properties.publishedAt">
        <label>publishedAt</label>
        <input [(ngModel)]="propOverrides.publishedAt">
      </fieldset>
      <fieldset *ngIf="adzerkRequest.placements[0].properties.publishedAtPlus30">
        <label>publishedAtPlus30</label>
        <input [(ngModel)]="propOverrides.publishedAtPlus30">
      </fieldset>
      <button type="submit">Submit</button>
    </form>
  </div>
  <div class="right">
    <pre>{{adzerkRequest | json}}</pre>
  </div>
</div>
